/*Fuentes*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,500;0,700;1,100&display=swap');

/*Colores */
:root {
    --primer-color: #8d5cff;
    --segundo-color: #ff4ec4;
    --tercer-color: #80dd4a;
    --boton-color: #9f9fff;
    --subtitulos: #2f2f2f;
    --background-seccion: #e2dce5;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
}

a {
    text-decoration: none;
}

p{
    font-size: 1.3rem;
}

/*!--------HEADER-------- */
header nav{
    background-color:rgb(127, 96, 227);
}

.hero h1{
    padding: 2rem;
}


/* Estilos para el video en el encabezado */
#hero {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

#hero video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
    opacity: 0.9;
}

/* Estilos para las redes sociales en el video */
.redes-sociales {
    position: absolute;
    bottom: 3rem;
    /* Ajustar la distancia desde abajo */
    right: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
    color: white;
}

.redes-sociales p {
    margin-bottom: 0.5rem;
}

.redes-icons {
    display: flex;
    align-items: center;
}

.redes-icons a {
    margin: 10px;
}

.redes-icons img {
    width: 40px;
    height: 40px;
    opacity: 0.8;
    transition: opacity 0.3s ease;
}

.redes-icons img:hover {
    opacity: 1;
}

/* Estilos para el texto que se superpondrá sobre el video */
.container-video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    color: white;
}

.content-video p {
    color: rgb(184, 174, 182);
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.534);
}

/* Estilos para el fondo semitransparente */
#hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    /* Ajusta la opacidad aquí */
    z-index: 0;
}

main p{
    font-size: 0.9rem;
}


.navbar{
    padding-left: 4rem;
    padding-right: 4rem;
}

.navbar-nav{
    background-color:#9d76ff;
    border-radius: 0.5rem;
}

.navbar-toggler {
    padding: 0.25rem 0.75rem;
    font-size: 1.25rem;
    line-height: 1.2;
    background-color: #d08dff;
    border: 1px solid white;
    border-radius: 100%;
    transition: box-shadow .15s ease-in-out;
    padding-top: 12px;
    padding-bottom: 12px;
}

.nav-link{
    color: white;
    margin: 0.4rem 1.2rem;
    font-size: 1.1rem;
    font-weight: 600;
}

.nav-link:hover{
    color: black;
}

.boton-nav{
    background-color: rgb(139, 105, 251);
    color: white;
    border: 2px solid rgb(255, 255, 255);
}

.boton-nav:hover{
    background-color:rgb(255, 255, 255);
    color: rgb(255, 255, 255);
}

.logo {
    width: 50px;
    height: 50px;
}


/* Estilos para el menú de hamburguesa */
.navbar-toggler-icon {
    background-color: rgb(255, 255, 255);
    width: 30px;
    height: 3px;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

/* Cambios al interactuar con el menú de hamburguesa */
.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
    background-color: transparent;
    transform: rotate(45deg);
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon::before,
.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon::after {
    transform: rotate(-90deg);
    top: 0;
    position: absolute;
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon::before {
    top: 0;
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon::after {
    top: 0;
}



/* Estilos para los elementos de la lista desplegable */
.navbar .navbar-nav .nav-item.dropdown .dropdown-menu {
    background-color: rgb(255, 172, 231);
    /* Cambia el color de fondo aquí */
}

/* Estilos para los enlaces en la lista desplegable */
.navbar .navbar-nav .nav-item.dropdown .dropdown-menu a {
    color: white;
    /* Color de texto blanco */
    transition: color 0.3s ease;
    font-weight: 600;
    font-size: 1.1rem;
}

/* Estilos para los enlaces en la lista desplegable al pasar el cursor */
.navbar .navbar-nav .nav-item.dropdown .dropdown-menu a:hover {
    color: black;
    /* Cambia el color de texto al pasar el cursor */
}


.creativity-text{
    text-align: center;
    padding: 1rem;
    color: gray;
}

/*SECCIONES*/
section {
    margin: 0;
    padding: 5rem;
    height: auto;
}

section h1 {
    text-align: center;
    font-size: 2.4rem;
    color: var(--primer-color);
    margin-top: 2rem;
    margin-bottom: 2rem;
}

section h3 {
    color: var(--subtitulos);
    font-weight: 300;
    padding-bottom: 1.5rem;
}


/*BOTONES*/
button {
    background-color: rgb(144, 117, 232);
    border-radius: 2rem;
    padding: 1rem;
    border: 0;
}

button a {
    text-decoration: none;
    color: white;
    font-weight: 600;
}


/*SECCIÓN SOBRE MÍ*/
.sobremi {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 7rem;
}

.contenedor-sobremi{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.parrafo-sobremi p {
    text-align: justify;
    padding: 6rem;
    margin: 0;
    color: black;
    font-size: 1.5rem;
}

.boton button img {
    width: 1rem;
    height: 1rem;
}

.boton {
    margin: 2rem;
}


/*SECCIÓN MIS CONOCIMIENTOS*/

.mis-conocimientos {
    background-color: rgb(141, 115, 228);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem;
    height: auto;
}

.contenedor-conocimientos {
    flex: 1;
    padding:5rem;
}

.grafico-conocimientos {
    flex: 0.5;
    padding: 2rem 5rem;
    font-weight: 600;
    font-size: 1.2rem;
}

.encabezado-conocimientos h1 {
    color: white;
    text-align: left;
    margin-bottom: 3rem;
}

.porcentaje {
    color: #663dae;
}

.parrafo-conocimientos p {
    text-align: justify;
    margin: 0;
    font-size: 1.5rem;
}

/* skills de conocimientos */

.icono-grafico{
    width: 40px;
    height: 40px;
    display: flex;
}

.skills:not(:last-child) {
    margin-bottom: 3.3rem;
}

.detalles{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    align-items: center;
    align-content: center;
}

.menu-skills{
    position: relative;
    border: 1px solid rgba(225, 210, 252, 0.601);
    border-radius: 20px;
}

.menu-skills div {
    position: relative;
    width: 0;
    height: 8px;
    border-radius: 10px;
    background-color: rgb(252, 143, 225);
    transition: width 15s ease;
}

/* Animación de skills conocimientos */
#html-menu {
    animation: html-barra 2s forwards;
}

@keyframes html-barra {
    100% {
        width: 80%;
    }
}

#css-menu {
    animation: css-barra 2s forwards;
}

@keyframes css-barra {
    100% {
        width: 70%;
    }
}

#javascript-menu {
    animation: javascript-barra 2s forwards;
}

@keyframes javascript-barra {
    100% {
        width: 75%;

    }
}

#photoshop-menu {
    animation: photoshop-barra 2s forwards;
}

@keyframes photoshop-barra {
    100% {
        width: 85%;
    }
}

#illustrator-menu {
    animation: illustrator-barra 2s forwards;
}

@keyframes illustrator-barra {
    100% {
        width: 70%;
    }
}

#after-effects-menu {
    animation: after-effects-barra 2s forwards;
}

@keyframes after-effects-barra {
    100% {
        width: 80%;
    }
}


/*GALERÍA DE DESARROLLO WEB*/
.galeria-desarrollo-web {
    padding: 5rem 0;
    text-align: center;
    background-color: rgb(255, 255, 255);
    height: auto;
}


/* GALERÍA DE ANUNCIOS */
/* Estilos para el carrusel de la galería */
.galeria-anuncios {
    padding: 5rem 0;
    text-align: center;
    background-color: #f6f6f6;
    height: auto;
}

/* Estilos para el difuminado en la galería */
.carousel-caption {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 12rem;
    padding: 10px;
}


/* Estilos para el formulario de contacto */
.formulario {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5rem 0;
    background-color:rgb(255, 155, 220);
    height: auto;
}

.form-derecha {
    padding: 3.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.form-derecha h1,
.form-derecha h3 {
    margin-bottom: 1.5rem;
}

.form-derecha h3 {
    font-size: 1.6rem;
}

.form-derecha form {
    width: 100%;
}

.form-derecha form p {
    margin: 1.2rem 0;
    color: black;
    font-size: 1.3rem;
}

.form-derecha input[type="text"],
.form-derecha textarea {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-derecha input[type="submit"] {
    background-color: rgb(141, 115, 228);
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.form-derecha input[type="submit"]:hover {
    background-color: var(--segundo-color);
}


/* Estilos para el pie de página */
footer h4 {
    margin-bottom: 1rem;
    font-weight: 600;
    color: #fcb3eb;
}

footer a, p{
    font-size: 1rem;
    color: rgb(255, 255, 255);
    text-decoration: none;
    transition: color 0.3s ease;
}

footer ul li img{
    margin: 10px;
}

footer ul li {
    margin-bottom: 0.5rem;
}

footer ul li a:hover {
    color: #8d5cff;
}

.footer-col {
    margin-bottom: 1rem;
}

/* Estilos para las imágenes de las redes sociales en el footer */
.footer-icon {
    width: 20px;
    /* Ajusta el tamaño según tus preferencias */
    height: 20px;
}






/*------------------------- RESPONSIVE -----------------------------------*/





/* Estilos para pantallas medianas (celular mediano) */
@media (min-width: 320px) and (max-width: 375px) {
    body {
        font-size: 15px;
    }

    .navbar {
        padding-left: 2rem;
        padding-right: 2rem;
    }

    .boton {
        margin: 1rem;
    }

    .redes-sociales {
        position: absolute;
        bottom: 1rem;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        z-index: 1;
    }

    .redes-icons {
        justify-content: center;
    }

    .encabezado-conocimientos h1{
        text-align: center;
        margin-bottom: 3rem;
    }

    .encabezado-sobremi h1{
        text-align: center;
        margin-bottom: 3rem;
    }
    
    .contenedor-conocimientos {
            padding: 4rem 1rem 1rem 1rem;
        }

    .contenedor-sobremi {
            padding: 4rem 0.5rem 1rem 0.5rem;
        }

    .parrafo-conocimientos p {
        margin: 0;
        overflow: hidden;
        font-size: 1rem;
    }

    .parrafo-sobremi p{
        margin: 0;
        overflow: hidden;
        font-size: 1rem;
        padding: 0 0 2rem 0;
    }

    .mis-conocimientos {
        background-color: rgb(141, 115, 228);
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    .mi-sobremi {
        background-color: rgb(255, 255, 255);
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        padding: 3rem;
    }

    .grafico-conocimientos{
        width: 95%;
        padding-left: 0.9rem;
        padding-right: 0.9rem;
    }

    .detalles img, span{
        margin: 5px;
        font-size: 14px;
    }

    .skills:not(:last-child){
        margin-bottom: 2.9rem;
    }

    .form-derecha{
        padding: 2.9rem;
    }

    .form-derecha h3{
        font-size: 1.2rem;
        padding: 1rem;
        text-align: center;
    }

}



/* Estilos para pantallas grandes (celular grande) */
@media (min-width: 376px) and (max-width: 1000px) {
    body {
        font-size: 1rem;
    }

    .navbar {
        padding-left: 3rem;
        padding-right: 3rem;
    }

    .boton {
        margin: 1.5rem;
    }

    .encabezado-conocimientos h1{
        text-align: center;
        margin-bottom: 3rem;
    }

    .encabezado-sobremi h1{
        text-align: center;
        margin-bottom: 3rem;
    }
    
    .contenedor-conocimientos {
            padding: 4rem 1rem 1rem 1rem;
        }

    .contenedor-sobremi {
            padding: 4rem 0.5rem 1rem 0.5rem;
        }

    .parrafo-conocimientos p {
        margin: 0;
        overflow: hidden;
        font-size: 1rem;
    }

    .parrafo-sobremi p{
        margin: 0;
        overflow: hidden;
        font-size: 1rem;
        padding: 0 0 2rem 0;
    }

    .mis-conocimientos {
        background-color: rgb(141, 115, 228);
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    .mi-sobremi {
        background-color: rgb(255, 255, 255);
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        padding: 3rem;
    }

    
    .grafico-conocimientos{
        width: 95%;
        padding-left: 0.9rem;
        padding-right: 0.9rem;
    }

    .galeria-desarrollo-web,
    .galeria-anuncios,
    .formulario {
        padding: 3rem 0;
    }

    footer a, p{
        font-size: 1rem;
    }

    footer h4{
        font-size: 1.1rem;
        font-weight: 700;
        color: #ffcbee;
    }

    .div-row{
        margin: 0;
    }
}




